<div class="card card-stats">
    <div class="card-header" data-background-color="orange">
        <i class="fa fa-microchip" aria-hidden="true"></i>
    </div>
    <div class="card-content">
        <p class="category">RAM Critical</p>
        <h3 class="title"><span id="spanRAMCount" style="cursor: pointer;"><small>1</small></span></h3>
    </div>
    <div class="card-footer">
        <div class="stats">
            <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true" id="ramWaringCount" ></i> Threshold 
            <span id="spanRamThersold"></span> <a href="#" id="aViewRamList">View All</a>
            <i class="fa fa-calendar" aria-hidden="true" id="ramLastUpdate"></i> <span id="spanLastUpdate"></span>
        </div>
    </div>
</div>


<input type="hidden" id="uGetCriticalRAMCount" value="@Url.Action("GetCriticalRAMCount", "HiradServerRAM")" />
<input type="hidden" id="uGetAllCriticalRAM" value="@Url.Action("GetAllCriticalRAM", "HiradServerRAM")" />

<script>
    $(function () {
        hiradRAM.GetCriticalRAMCount();
    });
</script>

