<div class="card">
    <div class="card-header card-chart" data-background-color="green">
        <div class="ct-chart" id="chartDailyStatus"></div>
    </div>
    <div class="card-content">
        <h4 class="title">
            Server Status
            <select id="cmbDlyServerStatus"></select>
        </h4>
        <p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i><span id="spanDlyUptime"></span>%  </span>uptime today.</p>
    </div>
    <div class="card-footer">
        <div class="stats">
            <i class="fa fa-clock-o" aria-hidden="true"></i> <span id="spanDlyMoniteredAt"></span>
        </div>
        <div class="pull-right">
            <a href="#" id="aLogStatusViewAll">View All</a>
        </div>
    </div>
</div>
<input type="hidden" id="uGetAllMonitoringServers" value="@Url.Action("GetAllMonitoringServers", "Dashboard")" />
<input type="hidden" id="uViewAllServerLogChart" value="@Url.Action("ViewAllServerLogChart", "HiradServerLog")" />
<input type="hidden" id="uGetChartData" value="@Url.Action("GetChartData", "HiradServerLog")" />

<script>
    $(function () {

        //Load All Server Information
        hiradServerCRUD.GetAllMonitoringServers("@Url.Action("GetAllMonitoringServers", "Dashboard")", "cmbDlyServerStatus");

        $('#cmbDlyServerStatus').on('change', function () {
            /* setting currently changed option value to option variable */
            var optionVal = $(this).find('option:selected').val();
            if (optionVal == 0) {
                hiradServerCRUD.GetAllServerLogStatusByLastRun();
            }
            else {
                hiradServerCRUD.GetServerLogStatusByDate(optionVal);
            }
        });

        //Initialize View Pop Chart
        hiradServerCRUD.initLogStatusPopup();

        //Chart on Click
        $(document).on('click', '#chartDailyStatus .ct-series', function (event) {
            var metaData = Chartist.deserialize($(this).attr('ct:meta'));
            if (typeof metaData === 'object') {
                metaData = JSON.stringify(metaData);
            }
            if (metaData != '' && metaData != undefined) {
                hiradServerCRUD.viewLogRowPopup(metaData, null);
            }
        });
    });



</script>

