
<div class="card">
    <div class="card-header card-chart" data-background-color="blue">
        <div id="dvWebBlog">
            <img id="imgWebBlog"
                 alt="Daily Tracked File Access"
                 class="img-responsive"
                 src="http://himoafact041.hi.kp.org/weblog/Daily_Tracked_File_Access.png"/>
        </div>
    </div>
    <div class="card-footer">
        <div>
            Web State
            <select id="cmbWebBlog">
                <option value="http://himoafact041.hi.kp.org/weblog/Daily_Tracked_File_Access.png">Daily Tracked File Access</option>
                <option value="http://himoafact041.hi.kp.org/weblog/Most_Popular_Tracked_Files.png">Most Popular Tracked Files</option>
            </select>
            <i class="glyphicon glyphicon-list-alt" aria-hidden="true" id="iWebBlog" style="cursor: pointer;" title="Click here to view Web State details"></i>
        </div>

        <div class="stats">
            Generated On <span id="spnWebStateGen" >Wed Jul 19, 2017</span>
        </div>
    </div>
</div>


<script>
    $(function () {
        //Load all websites into Dropdown

        hiradWebCRUD.loadAllWebStateSites();

        //Change the graph based on user selection
        $('#cmbWebBlog').on('change', function () {
            /* setting currently changed option value to option variable */
            var optionVal = $(this).find('option:selected').val();
            $("#imgWebBlog").attr("src", optionVal);
        });

        $("#iWebBlog").on('click', function () {
            var optionText = $('#cmbWebBlog').find('option:selected').text();
            var optionVal = $('#cmbWebBlog').find('option:selected').val();
            var sUrl = "";
            if ((optionText == "Daily Tracked File Access")
                || optionText == "Most Popular Tracked Files") {
                sUrl = "http://himoafact041.hi.kp.org/weblog/";
            }
            else {
                var webStateaddress = optionVal.slice(0, optionVal.lastIndexOf('/'));
                sUrl = webStateaddress + "/Tracked_Files.htm#_" + optionText + "_";
            }
            window.open(sUrl, "_blank");
        });


    });

</script>
