<div class="card card-stats">
    <div class="card-header" data-background-color="blue">
        <i class="fa fa-twitter"></i>
    </div>
    <div class="card-content">
        <p class="category">Visitors</p>
        <h3 class="title">+245</h3>
    </div>
    <div class="card-footer">
        <div class="stats">
            <i class="fa fa-clock-o" aria-hidden="true"></i> Updated 6 AM today
        </div>
    </div>
</div>

