<div class="card card-stats">
    <div class="card-header" data-background-color="red">
        <i class="fa fa-bolt" aria-hidden="true"></i>
    </div>
    <div class="card-content">
        <p class="category">Reboot Issues</p>
        <h3 class="title"><span id="spanRebCount" style="cursor: pointer;"><small>1</small></span></h3>
    </div>
    <div class="card-footer">
        <div class="stats">
            <i class="fa fa-tag" aria-hidden="true"></i> Since Booted <span id="spanRebootResetDays"></span> days ago
            <a href="#" id="aViewRebList">View All</a>
        </div>
    </div>
</div>

<input type="hidden" id="uGetCriticalRebCount" value="@Url.Action("GetCriticalRebCount", "HiradServerReb")" />
<input type="hidden" id="uGetAllCriticalReb" value="@Url.Action("GetAllCriticalReb", "HiradServerReb")" />

<script>
    $(function () {
        hiradReb.GetCriticalRebCount();
    });
</script>
