<div class="card card-stats">
    <div class="card-header" data-background-color="cyan">
        <i class="fa fa-hdd-o" aria-hidden="true"></i>
    </div>
    <div class="card-content">
        <p class="category">HDD Space</p>
        <h3 class="title"><span id="spanHddCount" style="cursor: pointer;"><small>1</small></span></h3>
    </div>
    <div class="card-footer">
        <div class="stats">
            <div class="stats">
                <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true" id="HddWaringCount"></i> Threshold
                <span id="spanHddThersold"></span> <a href="#" id="aViewHddList">View All</a>
                <i class="fa fa-calendar" aria-hidden="true" id="HddLastUpdate"></i> <span id="spanHddLastUpdate"></span>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="uGetCriticalHddCount" value="@Url.Action("GetCriticalHddCount", "HiradServerHdd")" />
<input type="hidden" id="uGetAllCriticalHdd" value="@Url.Action("GetAllCriticalHdd", "HiradServerHdd")" />

<script>
    $(function () {
        hiradHdd.GetCriticalHddCount();
    });
</script>