
<div class="card">
    <div class="card-header" data-background-color="green">
        <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
        <i class="fa fa-server" aria-hidden="true"></i>
        <h4 class="title" style="display: inline;">Hawaii Servers</h4>

    </div>
    <div class="card-content">
        <div class="row" id="dvServerDetails">
            <div class="col-lg-12">
                <table id="dtServerDetail" class="table table-hover table-condensed table-striped" >
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Server Name</th>
                            <th>IP Address</th>
                            <th>Status</th>
                            <th>Remedy Group</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: left"></tbody>
                </table>
            </div>
        </div>

        <!--Close div-->
    </div>

</div>



    
<script>
    //Dom Ready
    $(function () {
        ClientAppCRUD.serverSearch('Y');
    });
</script>







