<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- UAT-->
    <!--<add name="HiDashEntities" connectionString="metadata=res://*/EntityModels.HiDashEntityModel.csdl|res://*/EntityModels.HiDashEntityModel.ssdl|res://*/EntityModels.HiDashEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.147.44.113;initial catalog=HiDash;user id=covansys;password=kpit123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!-- DEV-->
    <!--<add name="HiDashEntities" connectionString="metadata=res://*/EntityModels.HiDashEntityModel.csdl|res://*/EntityModels.HiDashEntityModel.ssdl|res://*/EntityModels.HiDashEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hidscmsql003;initial catalog=HiDash;user id=covansys;password=kpit123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AppExceptionLog" connectionString="data source=localhost;initial catalog=HiDash;persist security info=True;user id=sa;password=csc1234$;" />-->
    
    <!-- DEV PROD-->
    <add name="HiDashEntities" connectionString="metadata=res://*/EntityModels.HiDashEntityModel.csdl|res://*/EntityModels.HiDashEntityModel.ssdl|res://*/EntityModels.HiDashEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hidscmsql003;initial catalog=HiDash;user id=covansys;password=kpit123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppExceptionLog" connectionString="data source=hidscmsql003;initial catalog=HiDash;persist security info=True;user id=covansys;password=kpit123;" />

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Custom User-->
    <add key="CustomUser" value=""/>
    
    <add key="MailServer" value="mail.kp.org" />
    <add key="Port" value="" />
    <add key="Sender" value="donotreply@nsmtp.kp.org" />
    <add key="EnableSsl" value="false" />

    <add key="Host" value="mail.kp.org" />
    <add key="Port" value="" />
    <add key="TemplatePath" value="\MailTemplate1.html" />
    <add key="MailAuthUser" value="" />
    <add key="MailAuthPass" value="" />
    <add key="MailSubject" value="HiDash - BAO requested a Change for " />
    <add key="MailFrom" value="donotreply-AppInfo@kp.org" />
    <!-- BAO Updates will send to these people-->
    <add key="MailTo-Admin" value="ragini.karuppan@kp.org, senthil.velliyangiri@kp.org" />
    <!-- AuditLog On is required to Log the datas, Applied values are On/Off  -->
    <add key="AuditLog" value="On" />
    <!-- Configure the Table Name, which it required to Log the datas-->
    <add key="AuditTrack" value="HiradServer,HiradWeb,HiradApp,UserDetail,BAOInfo" />

    <add key="RamThreshold" value="75" />
    <add key="HddThreshold" value="50" />
    <!-- Since Booted 30 days ago -->
    <add key="RebootReset" value="3"/>
    
    <!-- To Collect System Information these should be passed in as well, if to change from machine to machine-->
    <add key="UserName" value="cs\\M327778" />
    <add key="Password" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!-- Custom Error mode On is required to show the error window -->
    <customErrors mode="On" />
    <httpRuntime targetFramework="4.5" />    
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>